body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

main {
  padding: 20px;
}

#search {
  margin-bottom: 20px;
}

#search-input {
  padding: 5px;
  width: 300px;
}

#search-button {
  padding: 5px 10px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* Sửa danh sách sản phẩm ở đây ạ */

#product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.product-item {
  border: 1px solid #ddd;
  padding: 10px;
  width: calc(25% - 20px);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.product-item img {
  width: 100%; /* Chiều rộng bằng 100% khung chứa */
  height: auto; /* Giữ tỷ lệ ảnh gốc */
  object-fit: cover; /* Giúp ảnh lấp đầy khung mà không làm méo hình */
}

.product-item .image-container {
  width: 100%;
  padding-top: 100%; /* Padding 100% tạo tỷ lệ vuông cho khung ảnh */
  position: relative;
}

.product-item .image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain; /* Thu nhỏ ảnh để phù hợp với khung mà không cắt */
  object-position: center; /* Đảm bảo ảnh nằm ở trung tâm */
}

.product-info {
  margin-top: auto; /* Đẩy phần thông tin xuống dưới */
}



footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
  /* position:; */
  bottom: 0;
  width: 100%;
}